html,
body
{
  height: 100%;
  overflow: hidden;
}

.splashscreen
{
  position: absolute;
  z-index: 10000000;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.splashscreen-mask
{
  position: absolute;
  z-index:10;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #F4F6F7; /* compensated, same as transparent mask on white bg */
}

.showingAboutXopus .splashscreen-mask
{
  background: #EAEEF0;
  opacity:0.5;
  filter:alpha(opacity=50);
}

.splashscreen-box
{
  position: absolute;
  z-index:20;
  top: 50%; left: 50%;
  margin: -185px 0 0 -245px;
  padding:60px 20px 20px 270px;
  width:200px; height:291px;
  background: url("splashscreen.png") no-repeat;
  font-family: "Verdana", sans-serif;
  font-size: 11px;
  color: #00446F;
}

.splashscreen-box a
{
  color: #828486;
}
.splashReleaseNotes a,
.splashLegal a,
.splashVisitXopus a { display:none; }
.showingAboutXopus .splashscreen-box a { display:inline; }

                   .splashscreen { display: none; }
.xopusLoading      .splashscreen { display: block; }
.showingAboutXopus .splashscreen { display: block; }


.splashVersionValue
{
  font-size: 24px;
}

.splashReleasedValue, 
.splashCopyrightValue
{
  font-weight: bold;
}

.splashReleasedLabel,
.splashReleasedValue,
.splashCopyrightLabel, 
.splashCopyrightValue
{
  margin: 6px 0;
}

.splashVersionValue, 
.splashReleaseNotes, 
.splashLegal
{
  margin: 6px 0 27px;
}

.splashVisitXopus
{
  position: absolute;
  bottom: 30px;
}

.splashscreen-indicator
{
  position: absolute;
  bottom: 16px; right: 16px;
  width: 24px; height: 24px;
  background: url("loading.gif") no-repeat;
}

.showingAboutXopus .splashscreen-indicator { display:none; }
